flows.json
[{"id":"2b158643.f90e5a","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"a763fa7f.f01fb8","type":"debug","z":"2b158643.f90e5a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":870,"y":380,"wires":[]},{"id":"ec60bdd8.c4c48","type":"function","z":"2b158643.f90e5a","name":"pre-token","func":"global.set(\"pg\",msg.payload.pg)\nglobal.set(\"gl\",msg.payload.gl)\nglobal.set(\"bp\",msg.payload.bp)\nglobal.set(\"st\",msg.payload.st)\nglobal.set(\"ins\",msg.payload.ins)\nglobal.set(\"bmi\",msg.payload.bmi)\nglobal.set(\"dpf\",msg.payload.dpf)\nglobal.set(\"age\",msg.payload.age)\nvar apikey=\"mBnoy8ciu126MHsGH3u-pz3PQBqcduIr0QGT-aqeRuI9\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":880,"y":260,"wires":[["960a61ba.7bfce"]]},{"id":"960a61ba.7bfce","type":"http request","z":"2b158643.f90e5a","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":1032.0000038146973,"y":284.00000286102295,"wires":[["100a20d5.b1791f","e4a59ec5.6693b"]]},{"id":"100a20d5.b1791f","type":"debug","z":"2b158643.f90e5a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1220,"y":340,"wires":[]},{"id":"e4a59ec5.6693b","type":"function","z":"2b158643.f90e5a","name":"Pre Prediction","func":"var pg = global.get(\"pg\")\nvar gl = global.get(\"gl\")\nvar bp = global.get(\"bp\")\nvar st = global.get(\"st\")\nvar ins = global.get(\"ins\")\nvar bmi = global.get(\"bmi\")\nvar dpf = global.get(\"dpf\")\nvar age = global.get(\"age\")\nvar token=msg.payload.access_token\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"fields\": [[\"Pregnancies\", \"Glucose\",\"BloodPressure\",\"SkinThickness\",\"Insulin\",\"BMI\",\"DiabetesPedigreeFunction\",\"Age\"]],\"values\": [[pg,gl,bp,st,ins,bmi,dpf,age]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1224.0000076293945,"y":236.0000021457672,"wires":[["4be2357f.4fffcc"]]},{"id":"4be2357f.4fffcc","type":"http request","z":"2b158643.f90e5a","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/ml/v4/deployments/b182479b-49d4-4543-8273-d679c7cde91e/predictions?version=2020-10-17","tls":"","persist":false,"proxy":"","authType":"","x":1450,"y":260,"wires":[["702f95bf.60a3cc","fb200ac8.f27e68"]]},{"id":"702f95bf.60a3cc","type":"debug","z":"2b158643.f90e5a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1602.9999914169312,"y":344.00000381469727,"wires":[]},{"id":"f448d99f.168068","type":"inject","z":"2b158643.f90e5a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":750,"y":140,"wires":[["ec60bdd8.c4c48"]]},{"id":"6b1e53df.879d8c","type":"debug","z":"2b158643.f90e5a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1433.9999885559082,"y":127.0000057220459,"wires":[]},{"id":"fb200ac8.f27e68","type":"function","z":"2b158643.f90e5a","name":"Parsing","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1279.6000595092773,"y":168.00000190734863,"wires":[["6b1e53df.879d8c","382e0f50.e80eb"]]},{"id":"382e0f50.e80eb","type":"ui_text","z":"2b158643.f90e5a","group":"c6a604be.aac4d8","order":2,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":1397.6000366210938,"y":401.20001220703125,"wires":[]},{"id":"a75bd531.3f0958","type":"ui_form","z":"2b158643.f90e5a","name":"","label":"","group":"5f5ca55d.6cffdc","order":1,"width":0,"height":0,"options":[{"label":"Pregnancies","value":"pg","type":"number","required":true,"rows":null},{"label":"Glucose","value":"gl","type":"number","required":true,"rows":null},{"label":"BloodPressure","value":"bp","type":"number","required":true,"rows":null},{"label":"SkinThickness","value":"st","type":"number","required":true,"rows":null},{"label":"Insulin","value":"ins","type":"number","required":true,"rows":null},{"label":"BMI","value":"bmi","type":"number","required":true,"rows":null},{"label":"DiabetesPedigreeFunction","value":"dpf","type":"number","required":true,"rows":null},{"label":"Age","value":"age","type":"number","required":true,"rows":null}],"formValue":{"pg":"","gl":"","bp":"","st":"","ins":"","bmi":"","dpf":"","age":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":690,"y":300,"wires":[["a763fa7f.f01fb8","ec60bdd8.c4c48"]]},{"id":"c6a604be.aac4d8","type":"ui_group","z":"2b158643.f90e5a","name":"Diabetics","tab":"a4a76813.ad2ca8","order":1,"disp":true,"width":"6","collapse":false},{"id":"5f5ca55d.6cffdc","type":"ui_group","z":"","name":"Prediction","tab":"a4a76813.ad2ca8","order":1,"disp":true,"width":"6","collapse":false},{"id":"a4a76813.ad2ca8","type":"ui_tab","z":"2b158643.f90e5a","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]